<div style="display: flex; flex-direction: row">
  <button style="margin-right: 10px" mat-stroked-button color="accent" mat-button routerLink="/">
    <span style="display: flex; flex-direction: row; align-items: center">
    <img src="assets/icons/icon-512x512.png" alt="logo" style="width: auto; max-height:30px; margin-right: 5px" class="logo">
    <a style="display: flex; align-items: center">
      Unturned Kit Configurator
    </a>
    </span>
  </button>
  <button mat-button routerLink="/kit/list">Kit List</button>
  <button mat-button routerLink="/kit/create-update/{{Constants.EmptyGuid}}" mat-button>Create Kit</button>
  <button disabled mat-button>Load Kit</button>
</div>
