
.text-rarity-uncommon {
  background-color: rgba(36,174, 36, 0.40);
  -webkit-font-smoothing: antialiased;
}

.text-rarity-rare{
  background-color: rgba(75, 100, 250, 0.40);
  -webkit-font-smoothing: antialiased;
}

.text-rarity-epic {
  background-color: rgba(150, 75, 250, 0.40);
  -webkit-font-smoothing: antialiased;
}

.text-rarity-legendary {
  background-color: rgba(200, 50, 250, 0.40);
  -webkit-font-smoothing: antialiased;
}

.text-rarity-mythical {
  background-color: rgba(250, 50, 25, 0.40);
  -webkit-font-smoothing: antialiased;
}
