<div style="height: 100%; width: 100%; display: flex; flex-direction: column;">
  <mat-toolbar>
    <app-nav-items></app-nav-items>
  </mat-toolbar>
  <div style="display: flex; margin:10px">
    <h1>Kit XML</h1>
    <span style="margin-left: auto"></span>
    <button mat-raised-button color="primary" (click)="this.clipboardService.copyToClipboard(this.kitXml)"><mat-icon>content_copy</mat-icon></button>
    <button mat-raised-button color="primary" (click)="this.clipboardService.download('Kits.configuration.xml', this.kitXml)"><mat-icon>download</mat-icon></button>
  </div>
  <p>
    To be used with <a href="https://github.com/RocketModPlugins/Kits">this plugin</a>.
  </p>
  <p>Keep in mind that this config file contains other plugin settings. Don't replace the config file on the server with the output of this page as your other plugin configurations will be lost!</p>
  <p>Only replace the Kits section in your configuration file with the output from this page!</p>
  <mat-divider></mat-divider>
  <mat-form-field appearance="fill">
    <mat-label>XML</mat-label>
  <textarea matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            [value]="this.kitXml"></textarea>
  </mat-form-field>
</div>
