<mat-table [dataSource]="this.dataSource" matSort>
  <ng-container matColumnDef="image">
    <mat-header-cell *matHeaderCellDef mat-sort-header>image</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <div>
        <img [src]="'/assets/item-imgs/' + element.item_id + '.png'" alt="image" height="40px">
      </div>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Name</mat-header-cell>
    <mat-cell *matCellDef="let element" [class]="rarityService.getFontColorClass(element.rarity)">
      <div class="cell-container">
        <span>{{element.name}}</span>
      </div>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="weight">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Weight</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="item-id">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Id</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.item_id}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="item-type">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <div class="cell-container">
        {{element.type}}
      </div>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
