<div>
  <form style="display: flex; justify-content: center; flex-wrap: wrap">
    <mat-form-field class="search-field" style="flex: 2 0">
      <input autocomplete="off" name="searchString" (ngModelChange)="onSearchStringChange($event)" matInput placeholder="Search" [(ngModel)]="searchString"/>
    </mat-form-field>
    <div class="break"></div>
    <mat-form-field class="search-field" style="flex: 1 0">
      <mat-select name="rarities" (ngModelChange)="onRaritiesChange($event)" multiple placeholder="rarity" [(ngModel)]="selectedRarities">
        <div *ngIf="allRarities != null">
          <mat-option *ngFor="let rarity of this.allRarities" [value]="rarity"><div style="width: 100%; margin-left: 10px; padding-left: 10px; color:white!important;" [class]="this.rarityColorService.getFontColorClass(rarity)" >{{rarity}}</div></mat-option>
        </div>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="search-field" style="flex: 1 0">
      <mat-select name="types" (ngModelChange)="onTypesChange($event)" multiple placeholder="type" [(ngModel)]="selectedTypes">
        <mat-option style="color: white !important;" *ngFor="let type of this.allTypes" [value]="type">{{type}}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
